# Iterating over Range Objects

In [1]:
# sequences : tuple and list and string are instances of sequences
# jaha kisi chej ka sequence ho position based pr

In [2]:
t = (4,2,5,7)
t

# tuple

(4, 2, 5, 7)

In [3]:
l = [10,20,30]
l

# list

[10, 20, 30]

In [4]:
s = 'abcde'
s

# string

'abcde'

In [5]:
for i in t: # t is tuple
    print(i, end = ' ')

4 2 5 7

In [6]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [7]:
range(5)

range(0, 5)

In [8]:
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4

# Nested for Loops

In [13]:
for i in range(2):
    for j in range(4):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[1, 0]
[1, 1]
[1, 2]
[1, 3]

In [15]:
for i in ['Product A','Product B']:
    for j in range(4):
        print([i,j])

        
# can use list of string too or string value to iterate the loop

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]

In [18]:
products = ['Product A','Product B']

exp_sales = [1000, 2000, 3000, 4000]

for i in products:
    for j in exp_sales:
        # print([products[i], exp_sales[j]])   this is not correct syntax like in c++
        print([i,j])

['Product A', 1000]
['Product A', 2000]
['Product A', 3000]
['Product A', 4000]
['Product B', 1000]
['Product B', 2000]
['Product B', 3000]
['Product B', 4000]

# Triple Nested for Loops

In [19]:
products = ['Product A','Product B']

exp_sales = [1000, 2000, 3000, 4000]

time_horizon = (1, 3 , 12)

In [20]:
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print([i, j*k ])

['Product A', 1000]
['Product A', 3000]
['Product A', 12000]
['Product A', 2000]
['Product A', 6000]
['Product A', 24000]
['Product A', 3000]
['Product A', 9000]
['Product A', 36000]
['Product A', 4000]
['Product A', 12000]
['Product A', 48000]
['Product B', 1000]
['Product B', 3000]
['Product B', 12000]
['Product B', 2000]
['Product B', 6000]
['Product B', 24000]
['Product B', 3000]
['Product B', 9000]
['Product B', 36000]
['Product B', 4000]
['Product B', 12000]
['Product B', 48000]

**Another way instead of i, j , k**

In [21]:
for prod in products:
    for sale in exp_sales:
        for time in time_horizon:
            print([prod, sale*time ])

['Product A', 1000]
['Product A', 3000]
['Product A', 12000]
['Product A', 2000]
['Product A', 6000]
['Product A', 24000]
['Product A', 3000]
['Product A', 9000]
['Product A', 36000]
['Product A', 4000]
['Product A', 12000]
['Product A', 48000]
['Product B', 1000]
['Product B', 3000]
['Product B', 12000]
['Product B', 2000]
['Product B', 6000]
['Product B', 24000]
['Product B', 3000]
['Product B', 9000]
['Product B', 36000]
['Product B', 4000]
['Product B', 12000]
['Product B', 48000]

**Much better way Using .format()**

In [28]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {0} month for {1}: ${sale}'.format(t_hor, prod, sale = sale * t_hor))
            
            
# t_hor and prod ko as a positional argument use kr rhe h 0 and 1 unki positions h

Expected sales for a period of 1 month for Product A: $1000
Expected sales for a period of 3 month for Product A: $3000
Expected sales for a period of 12 month for Product A: $12000
Expected sales for a period of 1 month for Product A: $2000
Expected sales for a period of 3 month for Product A: $6000
Expected sales for a period of 12 month for Product A: $24000
Expected sales for a period of 1 month for Product A: $3000
Expected sales for a period of 3 month for Product A: $9000
Expected sales for a period of 12 month for Product A: $36000
Expected sales for a period of 1 month for Product A: $4000
Expected sales for a period of 3 month for Product A: $12000
Expected sales for a period of 12 month for Product A: $48000
Expected sales for a period of 1 month for Product B: $1000
Expected sales for a period of 3 month for Product B: $3000
Expected sales for a period of 12 month for Product B: $12000
Expected sales for a period of 1 month for Product B: $2000
Expected sales for a period of 3 month for Product B: $6000
Expected sales for a period of 12 month for Product B: $24000
Expected sales for a period of 1 month for Product B: $3000
Expected sales for a period of 3 month for Product B: $9000
Expected sales for a period of 12 month for Product B: $36000
Expected sales for a period of 1 month for Product B: $4000
Expected sales for a period of 3 month for Product B: $12000
Expected sales for a period of 12 month for Product B: $48000

In [29]:
for prod in products:
    for t_hor in time_horizon:
        for sale in exp_sales:  
            print('Expected sales for a period of {0} month for {1}: ${sale}'.format(t_hor, prod, sale = sale * t_hor))
            
# this one is the best approach

Expected sales for a period of 1 month for Product A: $1000
Expected sales for a period of 1 month for Product A: $2000
Expected sales for a period of 1 month for Product A: $3000
Expected sales for a period of 1 month for Product A: $4000
Expected sales for a period of 3 month for Product A: $3000
Expected sales for a period of 3 month for Product A: $6000
Expected sales for a period of 3 month for Product A: $9000
Expected sales for a period of 3 month for Product A: $12000
Expected sales for a period of 12 month for Product A: $12000
Expected sales for a period of 12 month for Product A: $24000
Expected sales for a period of 12 month for Product A: $36000
Expected sales for a period of 12 month for Product A: $48000
Expected sales for a period of 1 month for Product B: $1000
Expected sales for a period of 1 month for Product B: $2000
Expected sales for a period of 1 month for Product B: $3000
Expected sales for a period of 1 month for Product B: $4000
Expected sales for a period of 3 month for Product B: $3000
Expected sales for a period of 3 month for Product B: $6000
Expected sales for a period of 3 month for Product B: $9000
Expected sales for a period of 3 month for Product B: $12000
Expected sales for a period of 12 month for Product B: $12000
Expected sales for a period of 12 month for Product B: $24000
Expected sales for a period of 12 month for Product B: $36000
Expected sales for a period of 12 month for Product B: $48000

# List Comprehension

In [30]:
numbers = [1, 13, 4, 5, 63]
numbers

[1, 13, 4, 5, 63]

In [36]:
new_numbers = []

for i in numbers:
    new_numbers.append(i * 2)
    
new_numbers

[2, 26, 8, 10, 126]

In [37]:
new_numbers = [ n*2 for n in numbers]
new_numbers

# this is list comprehension
# instead for long code directly storing calculated data into the list

[2, 26, 8, 10, 126]

In [38]:
for i in range(2):
    for j in range(5):
        print(i+j, end = ' ')

0 1 2 3 4 1 2 3 4 5

In [39]:
new_list = [i+j for i in range(2) for j in range(5)]
new_list

# same output as above but stored into the list

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [40]:
type(new_list)

list

**For multi dimensional list means list inside list**

In [42]:
new_list_2 = [[i+j for i in range(2)] for j in range(5)]
new_list_2

# now it is storing in the form og group of list inside a list

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [43]:
type(new_list_2)

list

In [44]:
type(new_list_2[1])

list

**Using condition with list comprehension**

In [45]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# condition can also apply on list comprehension

[num ** 3 for num in range(1,11) if num % 2 !=0]


# num ** 3 = pow(num,3)

[1, 27, 125, 343, 729]

In [47]:
# same ques with for loop

for i in range(1,11):
    if i % 2 !=0:
        print( i**3, end = ' ')

1 27 125 343 729

In [48]:
[num ** 3 if num % 2 !=0 for num in range(1,11) ]

SyntaxError: invalid syntax (<ipython-input-48-1ab0c085268c>, line 1)

In [49]:
[num ** 3 if num % 2 !=0 else "even" for num in range(1,11) ]

# agr condition aag de rhe h to if else dono dena padega vrna error dega

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

# Lamba Function in Python

In [50]:
def pow_of_2(x):
    return x ** 2

In [51]:
pow_of_2(3)

9

**Lambda function are anonymous funct, without name, without calling, no use later**

In [52]:
lambda x: x ** 2

In [53]:
pow_of_2_lambda = lambda x: x ** 2

# assigning lambda into the variable

In [54]:
pow_of_2_lambda(3)

9

In [55]:
(lambda x: x / 2) (11)

# this is actual way of using lambda function
# (lambda funct)(argument)
# best approach when calculation complex

5.5

In [56]:
(lambda x: (2 + 5 * x**4) ** 2 /(x+3)) (2)

1344.8

**Lambda can have multiple arguments**

In [57]:
sum_xy = lambda x, y: x + y
sum_xy(2, 3)

5

In [58]:
# Real Example

In [59]:
sum_xy = lambda x, y: x + y(x)

In [60]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [61]:
sum_xy(2)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [62]:
sum_xy(2, lambda x: x*5)


# kyuki sum_xy m function use kra h usme x ki value int and y as a function h to argument m bhi koi fucntion he dena padega
# ab jo fucntion argument m diya h vo kahi or to use hona nh h  and ek line m code bhi ho gya 
# yhi use h lambda function ka

12